@model HotelProject.Models.Reservation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StatusRef)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StatusRef.StatusId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReservationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
